*{
    margin; 0;
    padding; 0;
    box-sizing; boder-box
}

body{
    font-family: Arial, sans-serif;
    color: #bb0808;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: antiquewhite;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    font-size: 1.2rem;
    color: #05050552;
    margin-top: 10px;
}
#social-links{
    text-align: center;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    margin-top: 20px;
}
footer p{
    color: #777;
    font-size: 0.9rem;
}