body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-size: cover;

  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 1rem ;
    text-align: center;
    display: flex;
  }
  
  .dashboard {
    padding: 1rem;
  }
  
  .device-list {
    list-style-type: none;
    padding: 0;
  }
  
  .device-list li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
 